@font-face {
  font-family: 'Terminal Dosis';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/terminaldosis/v20/BXRyvFbejejHgENDQMs-nhycKtDQ9Z0.ttf) format('truetype');
}
